.banner{
  text-align: center;
}

.about-me{
  font-style: italic;
}

.grad-pic{
  width: 150px;
}

body {
  background: linear-gradient(white, tan, white);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15% 10%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
}

.edu-header {
  text-align: center;
  text-transform: uppercase;
}

.certs-header {
  text-align: center;
  text-transform: uppercase;
}

.skills-header {
  text-align: center;
  text-transform: uppercase;
}

.activities-header {
  text-align: center;
  text-transform: uppercase;
}
